---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/image.html objectid="pumpkincake.png" width="75" alt="Pumpkin Cake, Halloween 2021" caption="So good!"%}
    
  
  </div>
  <div class="col-md-4">  

   

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" %}

 

    {% include index/objects.html %}
    
    

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
